*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
    li{
        list-style: none;}
    a {text-decoration: none;}


/*--------------------HEADER---------------------------*/
.w-1250{
    width:1250px;
    margin: 0 auto;
    }

header{
    height: 86px;
    width: 100%;
    background: #EFF0F3;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
    position: fixed;
    }
.logo-naw{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 20px;}

.header-nav{
    display: flex;
    justify-content:center;
    align-items: center;
    padding-left: 300px;

}
header nav ul{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 50px;
    flex-direction: row;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
header nav ul li a{ color: #2B2C34;}
.buy-coffee-link {
    color: #FFFFFE;
    border-radius: 4px;
    background: #6246EA;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    border: none;
    width: 213px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo h2{
    color: #001858;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.logo span{
    color: #6246EA;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.icon-search{
    padding-right: 10px;
}
/*--------------------MAIN---------------------------*/
main{
    width: 100%;
    height: 900px;
    background: #EFF0F3;}

.main-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.dasteen {
    width: 664px;
    height: 345px;
    margin-top: 271px;
    margin-bottom: 284px;
    display: flex;
    gap: 30px;
    flex-direction: column;
}
main img{
    width: 434px;
    height: 363px;
    margin-top: 250px;
    margin-bottom: 263px;
}
main h1{
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
main p{color:#9A9494;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 12px;
   }
.line-p{
    width: 667px;
    height: 56px;
    border-left: 3px solid #2B2C34;
}
.subscribe-form{
    width: 609px;
    height: 67px;
    display: flex;
    flex-direction: row;
    gap: 20px;
 }
input[type="email"] {
    width: 444px;
    height: 67px;
    border: none;
    background-color: White;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
}
input[type="email"]::placeholder {
    color:  #C0C0C0;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 25px;
}
input[type="submit"]{
    width: 145px;
    height: 67px;
    display: flex;
    padding: 20px 23px 19px 23px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: none;
    background: #6246EA;
    color: #FFFFFE;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;}
/*-----------------------------------------section-browse-category---------------------------*/
.section-browse-category{
    width: 100%;
    height: 500px;
    background: #EFF0F3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.article-browse-category{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.section-browse-category h3{
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #2B2C34;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.section-browse-category a{
    color:  #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.section-browse-category h4 svg{
    margin-left: 12px;
}
.browse-category-cards{
    display: flex;
    gap: 37px;
   }
.card {
    width: 220px;
    height: 280px;
    display: flex;
    border-radius: 8px;
    background: #FFFFFE;
    color: #232323;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.card-Tailwind{
    background: #6246EA;
    color: #FFFFFE;
}
.CSS, .javascript, .Tailwind, .Vue-JS, .React{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 65px;
    margin-left: 30px;
}
.card  img{
    width: 60px;
    height: 60px;
}
/*--------------------section-featured-article+CSS+javascript+React JS---------------------------*/
.article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 30px;}


 .article h3{
     font-family: "Plus Jakarta Sans", sans-serif;
     color: #2B2C34;
     font-size: 24px;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
     text-transform: capitalize;
    }
.article a{
        color:  #2B2C34;
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: capitalize;
       }
.article a svg{
    margin-left: 12px;
}
.wrap-article{
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 80px;
}
.card-article{
    width: 300px;
    height: 425px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 12px;
    background: #FFFFFE;
   }
.card-article h4{
    color:  #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;}

.img-article{
    width: 260px;
    height: 198px;
    border-radius: 12px;
       }
.img-article-h4{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.autor{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.autor img{
    width: 57px;
    height: 57px;
    object-fit: cover;
}
.autor-dasteen{
    width: 184px;
    height: 42px;
    display: flex;
    flex-direction: column;
}


.Fundamental-jv-card-artical {
    background: #FFFFFE;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
}
.autor-dasteen h5{
    color:  #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.autor-dasteen p{
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}
/*--------------------section-react-article---------------------------*/
.section-react-article h4{
    color:  #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.react-card-article{
    background:  #FFFFFE;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.25);
}

.more-artical-batton{
    width: 165px;
    height: 64px;
    border: none;
    border-radius: 8px;
    background:  #6246EA;
      }
.more-artical-batton a{
   color: #FFFFFE;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.button-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
}




/*--------------------section-subscribe---------------------------*/
.section-subscribe {
    width: 100%;
    height: 453px;
    background: #EFF0F3;
    margin-top: 80px;
      }
.section-subscribe-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscribe {
    width: 696px;
    height: 337px;
    margin-top: 58px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    }

.subscribe h2{
    color:  #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
.subscribe p{
    color:  #C0C0C0;
    text-align: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
 .ellips-img{
     width: 130px;
     height: 130px;
     border-radius: 50%;
     background: #FFFFFE;
     display: flex;
     justify-content: center;
     align-items: center;

 }
.ellips-img img{
    object-fit: cover;}

/*----------------------------------------------footer-----------------------------------------------------*/

footer{
    width: 100%;
    height: 435px;
    background: #E4E5E9;
}

.footer-nav-wrap{
    width: 805px;
    display: flex;
    flex-direction: row;
    gap: 95px;
    }
.footer-content{
    margin-top: 70px;
    margin-bottom: 50px;
    width: 1249px;
    height: 245px;
    flex-direction: row;
    display: inline-flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 160px;
    }

.footer-nav-wrap li{
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
footer nav ul li a{ color: #2B2C34;}

.footer-nav-wrap li:first-child{
    color:  #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.footer-nav ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.logo-social-media{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

}
.logo-social-media h2{
    margin-bottom: 20px;
}
.logo-social-media p{
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.social-media-links{
    width: 284px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 30px;
   }

 .line p{
     color: #2B2C34;
     font-family: "Plus Jakarta Sans", sans-serif;
     font-size: 14px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     margin-top: 26px;
 }
.line hr{
    border-top:  1px solid #C0C0C0;;
 }