*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

/*--------------------HEADER---------------------------*/
.w-1250{
    width:1250px;
    margin: 0 auto;
    }
 li{
    list-style: none;}
 a {text-decoration: none;}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 20px;}

.header-nav{
    display: flex;
    justify-content:center;
    align-items: center;
    padding-left: 300px;

}
header nav ul{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 50px;
    flex-direction: row;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
header nav ul li a{ color: #2B2C34;}
.buy-coffe{
    border-radius: 4px;
    background:  #6246EA;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: #FFFFFE;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    border: none;
    width: 213px;
    height: 44px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.logo h2{
    color: #001858;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.logo span{
    color: #6246EA;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.header-main-section1{
    width: 100%;
    height: 1400px;
    background: #EFF0F3;
}
.icon-search{
    padding-right: 10px;
}
/*--------------------MAIN---------------------------*/
main{
     display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.dasteen {
    width: 664px;
    height: 345px;
    margin-top: 271px;
    display: flex;
    gap: 30px;
    flex-direction: column;
}
main img{
    width: 434px;
    height: 363px;
    margin-top: 250px;
}
main h1{
    color: #2B2C34;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}
main p{color:#9A9494;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.main-form{
    width: 609px;
    height: 67px;
    display: flex;
    flex-direction: row;
    gap: 20px;
 }
input[type="email"] {
    width: 444px;
    height: 67px;
    border: none;
    background-color: White;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
}
input[type="email"]::placeholder {
    color:  #C0C0C0;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 25px;
}
input[type="submit"]{
    width: 145px;
    height: 67px;
    display: flex;
    padding: 20px 23px 19px 23px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: none;
    background: #6246EA;
    color: #FFFFFE;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;}
/*------------------------------------section-browse-category---------------------------*/